.divPokedex{
  width: 55%;
  float: left;
  margin-top: 50px;
  color: #66acec;
  text-align:center;
}

.aPokemons{
  float: left;
  height: 80px;
  width: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.lblPokemoName{
  margin-top: 20px;
}

.imgPokemon{
  margin-top: -20px;
  margin-left: -12px;
}

@media all {
	div#pokedex
	{
    float: left;
    padding-left: 20px;
		width: 750px;
		margin: 50px auto 0 auto;
	}
}