.divPokedex{
  width: 100%;
  margin-top: 50px;
  color: #66acec;
  text-align:center;
}

.aPokemons{
  background-color: transparent;
  border-color: transparent;
  color: #66acec;
  float: left;
  height: 100px;
  width: 80px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.lblPokemoName{
  margin-top: 20px;
}

.imgPokemon{
  height: 90px;
  width: 90px;
}

@media all {
	div#pokedex
	{
		width: 750px;
	}
}